@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.small-title {
  font-variant: small-caps;
  letter-spacing: 6px;
  font-size: 1.5rem;
}

.etapa-title {
  font-size: 7rem;
  font-weight: 100;
  margin-top: 25px;
  margin-bottom: 100px;
  letter-spacing: 6px;
  font-variant: small-caps;
}

@media screen and (max-width: 600px) {
  .etapa-title {
    font-size: 4rem;
  }
}

.text-poppins {
  font-family: "Poppins", sans-serif;
}

input[type="range"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  background: #ffffff15;
  /* creating a custom design */
  width: 100%;
  min-width: 200px;
  cursor: pointer;
  outline: none;
  /*  slider progress trick  */
  overflow: hidden;
  border-radius: 16px;
}

/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
  height: 15px;
  background: #ffffff15;
  border-radius: 16px;
}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
  height: 15px;
  background: #ffffff15;
  border-radius: 16px;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: 15px;
  width: 15px;
  background-color: #000;
  border-radius: 50%;
  border: 2px solid #ffffff;
  /*  slider progress trick  */
  box-shadow: -407px 0 0 400px #fff;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #000;
  border-radius: 50%;
  border: 1px solid #fff;
  /*  slider progress trick  */
  box-shadow: -407px 0 0 400px #f50;
}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid black;
  border-radius: 50%;
  cursor: none;
  width: 300px;
  height: 300px;
  z-index: 50;
}

.magnifier-stem {
  @apply w-1 h-24 bg-black absolute;
  bottom: -14px;
  right: -14px;
  transform: rotate(-45deg);
}
